APP_NAME=FlickrExplored_bot
TELEGRAM_USERNAME="USERNAME"
RATE_URL="https://telegram.me/storebot?start=flickrexplored_bot"
TELEBOT_OPT_TOKEN=""
TELEBOT_OPT_POLLING_INTERVAL="3 * 1000"
ELEBOT_OPT_USE_WEBHOOK=false
TELEBOT_OPT_WEBHOOK_URL="https://..."
TELEBOT_OPT_WEBHOOK_HOST="192.x.y.z"
TELEBOT_OPT_WEBHOOK_PORT=443
TELEBOT_OPT_WEBHOOK_CERT="host.pem"
TELEBOT_OPT_WEBHOOK_KEY="host.key"
USEMONGO=false
MONGO_URI="mongodb://localhost/flickrbot"
MONGO_USR_COLL="users"
DAY_BEFORE=2
IMGS_REFRESH_TIME="1000 * 60 * 60 * 24"
IMGS_ARR_REFRESH="1000 * 60 * 60 * 23.9"
FLICKR_KEY=""